

/* login header */

.login-container{ text-align: right;padding:10px 20px 0px 0px; height: 100px;  }
.login-caption{color:gray;} 
.login-name{color:rgb(29, 138, 150);font-weight: bolder;    } 
 
.container-site{  text-align: center }